.search-input {
    border: none;
    height: 4vh;
    width: 50%;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.search-box {
    height: 30vh;
    width: 80%;
}