.search-input {
    border: none;
    height: 4vh;
    width: 50%;
    font-size: 20px;
    border-radius: 2px;
    outline: none;
    border: 0.2px solid black;
    display: block;
}

.search-box {
    height: 10vh;
    width: 80%;
    
    label {
        font-size: 20px;
    }
}

::-webkit-input-placeholder { 
    font-size: 15px;
    padding-left: 10px;
}